.Group302 {
	position: absolute;
	left: 0px;
	top: 951px;
	width: 500px;
	height: 194.4443359375px;
}
.Group302 .Rectangle20 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 525px;
	height: 194.4443359375px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.Group302 .Group390 {
	position: absolute;
	left: 22px;
	top: 23px;
	width: 535px;
	height: 147.77783203125px;
}
.Group302 .Group390 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2013 {
	position: absolute;
	left: 237px;
	top: 10.6943359375px;
	width: 298px;
	height: 45.6943359375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.Group302 .Group390 .JuaraTaekwondo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 213px;
	height: 147.77783203125px;
	object-fit: cover;
	overflow: hidden;
}
.Group302 .Group390 .UnitTaekwondoUnpad {
	position: absolute;
	left: 237px;
	top: 96.25px;
	width: 276px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.Group302 .Group390 .Jumat25Maret2022 {
	position: absolute;
	left: 237px;
	top: 128.33349609375px;
	width: 260px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}