
.DashboardUKMB_DashboardUKMB {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 1613px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .Vectors {
	position: absolute;
	right: 0px;
	top: 80px;
	width: 100px;
	height: 1393px;
	mix-blend-mode: normal;
}
.DashboardUKMB_DashboardUKMB .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1393px;
}
.DashboardUKMB_DashboardUKMB .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1393px;
}
.DashboardUKMB_DashboardUKMB .Vectors_1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 1393px;
	mix-blend-mode: normal;
}
.DashboardUKMB_DashboardUKMB .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1393px;
}
.DashboardUKMB_DashboardUKMB .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1393px;
}

.DashboardUKMB_DashboardUKMB .grup1 {
	position: absolute;
	left: 50%;
	
} 

.DashboardUKMB_DashboardUKMB .BeritaPost3 {
	position: absolute;
	/* width: 450px;
	height: 400px; */
	background-color: brown;
	top: 0px;
	left: -550px;

	
} 

.DashboardUKMB_DashboardUKMB .grup1 .Rectangle12 {
	position: absolute;
	left: -390px;
	top: 150px;
	width: 280px;
	height: 250px;
	object-fit: cover;
	overflow: hidden;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 {
	position: absolute;
	left: -410px;
	top: 420px;
	width: 326px;
	height: 229px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group392 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 326px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group392 .antdesigncalendartwotone {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 48px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group392 .antdesigncalendartwotone .Vector_4 {
	position: absolute;
	left: 8.625px;
	top: 11.5px;
	width: 64.0625%;
	height: 13.28125%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group392 .antdesigncalendartwotone .Vector_5 {
	position: absolute;
	left: 5.25px;
	top: 5.03125px;
	width: 78.125%;
	height: 78.125%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group392 .SetiapHari1600WIB {
	position: absolute;
	left: 63px;
	top: 15px;
	width: 263px;
	height: 16px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group393 {
	position: absolute;
	left: 0px;
	top: 61px;
	width: 326px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group393 .fluentpeopleaudience24filled {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 48px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group393 .fluentpeopleaudience24filled .Vector_6 {
	position: absolute;
	left: 4px;
	top: 5.75px;
	width: 83.33333333333334%;
	height: 79.16684358016305%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group393 ._56Anggota {
	position: absolute;
	left: 63px;
	top: 15px;
	width: 263px;
	height: 16px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group394 {
	position: absolute;
	left: 0px;
	top: 122px;
	width: 326px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group394 .carbonmap {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 48px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group394 .carbonmap .Vector_7 {
	position: absolute;
	left: 11.97265625px;
	top: 2.875px;
	width: 50.059000651041664%;
	height: 68.75%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group394 .carbonmap .Vector_8 {
	position: absolute;
	left: 21px;
	top: 10.0625px;
	width: 12.5%;
	height: 12.5%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group394 .carbonmap .Vector_9 {
	position: absolute;
	left: 3px;
	top: 17.25px;
	width: 87.5%;
	height: 56.25%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group394 .BaleSantika {
	position: absolute;
	left: 63px;
	top: 15px;
	width: 263px;
	height: 16px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px; 
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group395 {
	position: absolute;
	left: 0px;
	top: 183px;
	width: 326px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group395 .bxscontact {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 48px;
	height: 46px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group395 .bxscontact .Vector_10 {
	position: absolute;
	left: 4px;
	top: 3.833251953125px;
	width: 83.33333333333334%;
	height: 83.33315641983695%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group396 .Group395 .TaekwondoUnpadgmailcom {
	position: absolute;
	left: 62px;
	top: 15px;
	width: 264px;
	height: 16px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 {
	position: absolute;
	left: -350px;
	top: 670px;
	width: 200px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group293 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group293 .Rectangle13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 55px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group291 {
	position: absolute;
	left: 103.328125px;
	top: 15.5830078125px;
	width: 176.470703125px;
	height: 23.833251953125px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group291 .EditProfile {
	position: absolute;
	left: -30px;
	top: 5.5px;
	width: 133.513671875px;
	height: 14.666748046875px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group291 .akariconsedit {
	position: absolute;
	left: -60px;
	top: 0px;
	width: 30.185546875px;
	height: 23.833251953125px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group291 .akariconsedit .Group {
	position: absolute;
	left: 5.03125px;
	top: 2.979248046875px;
	width: 70.83468133290197%;
	height: 70.8331199229674%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group291 .akariconsedit .Group .Vector_11 {
	position: absolute;
	left: 8.8037109375px;
	top: 0px;
	width: 58.82164877825987%;
	height: 58.82310406663967%;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group239 .Group294 .Group291 .akariconsedit .Group .Vector_12 {
	position: absolute;
	left: 0px;
	top: 1.98583984375px;
	width: 88.23475679378853%;
	height: 88.23537918667206%;
}

.DashboardUKMB_DashboardUKMB .grup1 .Group307 {
	position: absolute;
	left: -80px;
	top: 150px;
	width: 580px;
	height: 680px;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group307 .Rectangle8 {
	position: absolute;
	padding: 30px;
	padding-top: -400px;
	left: 0px;
	top: 120px;
	width: 580px;
	height: 480px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 30px;
	overflow-y:auto;
}
.DashboardUKMB_DashboardUKMB .grup1 .Group307 .Rectangle01 {
	position: absolute;
	left: 20px;
	top: 0px;
	width: 530px;
	height: 110px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 30px;
}

.DashboardUKMB_DashboardUKMB .grup1 .Group307 .Rectangle01 .UKMName {
	position: absolute;
	width: 90%;
	height: 50px;
	display: flex;
	align-items: center;
	align-self: center;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	/* line-height: 36px; */
}

.DashboardUKMB_DashboardUKMB .grup1 .Group307 .Group397 {
	position: absolute;
	left: 15px;
	top: 31px;
	width: 723.02734375px;
	height: 617.94580078125px;
}

.DashboardUKMB_DashboardUKMB .grup1 .Group307 .Rectangle8 .Deskripsi {
	position: absolute;
	left: 28.0693359375px;
	top: 30px;
	width: -93px;
	height: 544px; 
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	
}

.DashboardUKMB_DashboardUKMB .grup2{
	position: absolute;
	left: 50%;
	transform: translate(-50%);

}

.DashboardUKMB_DashboardUKMB .grup3{
	position: absolute;
	left: 50%;
	

}

.DashboardUKMB_DashboardUKMB .grup3 .BeritaContainer{
	position: absolute;
	left: -560px;
	/* transform: translate(-50%); */

}

.DashboardUKMB_DashboardUKMB .grup2 .BeritaUKM_Dash
{
	position: absolute;
	left: 200px;
	top: 860px;
	width: 257px;
	height: 36px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.DashboardUKMB_DashboardUKMB .Group302 {
	position: absolute;
	left: 600px;
	top: 951px;
	width: 500px;
	height: 194.4443359375px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Rectangle20 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 525px;
	height: 194.4443359375px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 {
	position: absolute;
	left: 22px;
	top: 23px;
	width: 535px;
	height: 147.77783203125px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2013 {
	position: absolute;
	left: 237px;
	top: 10.6943359375px;
	width: 260px;
	height: 45.6943359375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .JuaraTaekwondo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 213px;
	height: 147.77783203125px;
	object-fit: cover;
	overflow: hidden;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .UnitTaekwondoUnpad {
	position: absolute;
	left: 237px;
	top: 96.25px;
	width: 276px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .Jumat25Maret2022 {
	position: absolute;
	left: 237px;
	top: 128.33349609375px;
	width: 260px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .Group390_1 {
	position: absolute;
	left: 600px;
	top: 1141.5556640625px;
	width: 500px;
	height: 194.4443359375px;
}
.DashboardUKMB_DashboardUKMB .Group390_1 .Rectangle20_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 525px;
	height: 194.4443359375px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .Group390_1 .Group390_2 {
	position: absolute;
	left: 22px;
	top: 23.33349609375px;
	width: 535px;
	height: 147.77783203125px;
}
.DashboardUKMB_DashboardUKMB .Group390_1 .Group390_2 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2013_1 {
	position: absolute;
	left: 237px;
	top: 10.6943359375px;
	width: 260px;
	height: 45.6943359375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.DashboardUKMB_DashboardUKMB .Group390_1 .Group390_2 .JuaraTaekwondo1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 213px;
	height: 147.77783203125px;
	object-fit: cover;
	overflow: hidden;
}
.DashboardUKMB_DashboardUKMB .Group390_1 .Group390_2 .UnitTaekwondoUnpad_1 {
	position: absolute;
	left: 237px;
	top: 96.25px;
	width: 276px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .Group390_1 .Group390_2 .Jumat25Maret2022_1 {
	position: absolute;
	left: 237px;
	top: 128.333251953125px;
	width: 260px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .akariconscircletriangleupfill {
	position: absolute;
	left: 300px;
	top: 939px;
	width: 24px;
	height: 24px;
}
.DashboardUKMB_DashboardUKMB .grup2 .akariconscircletriangleupfill .Vector_13 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.DashboardUKMB_DashboardUKMB .grup2 .akariconscircletriangledownfill {
	position: absolute;
	left: 300px;
	top: 1324px;
	width: 24px;
	height: 24px;
}
.DashboardUKMB_DashboardUKMB .grup2 .akariconscircletriangledownfill .Vector_14 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 {
	position: absolute;
	left: 70px;
	top: 1357px;
	width: 435px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group309 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 435px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group309 .Group293_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 435px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group309 .Group293_1 .Rectangle13_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 450px;
	height: 55px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group353 {
	position: absolute;
	left: 180px;
	top: 15px;
	width: 142.845703125px;
	height: 25.666748046875px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group353 .Group291_1 {
	position: absolute;
	left: 27.845703125px;
	top: 4.333984375px;
	width: 115px;
	height: 15px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group353 .Group291_1 .ListBerita {
	position: absolute;
	left: 7px;
	top: 0px;
	width: 115px;
	height: 15px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group353 .bilistul {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 25.615234375px;
	height: 25.666748046875px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group354 .Group353 .bilistul .Vector_15 {
	position: absolute;
	left: 1.6005859375px;
	top: 4.010498046875px;
	width: 87.49904689287075%;
	height: 62.50011889927804%;
}
.DashboardUKMB_DashboardUKMB .grup2 .PendaftarUKM {
	position: absolute;
	left: -420px;
	top: 860px;
	width: 358px;
	height: 73px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Rectangle15 {
	position: absolute;
	left: -400.8876953125px;
	top: 951px;
	width: 40px;
	height: 65px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .No {
	position: absolute;
	left: -390px;
	top: 972px;
	width: 10px;
	height: 34px;
	color : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group240 {
	position: absolute;
	left: -400.8876953125px;
	top: 1015.533203125px;
	width: 40px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group240 .Rectangle16 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group240 ._1 {
	position: absolute;
	left: 23.435546875px;
	top: 26px;
	width: 6.0478515625px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group278 {
	position: absolute;
	left: -400.8876953125px;
	top: 1207.93359375px;
	width: 40px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group278 .Rectangle16_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group278 ._4 {
	position: absolute;
	left: 21.1669921875px;
	top: 26px;
	width: 11.33984375px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group279 {
	position: absolute;
	left: -400.8876953125px;
	top: 1079.66650390625px;
	width: 40px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group279 .Rectangle16_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group279 ._2 {
	position: absolute;
	left: 21.1669921875px;
	top: 26px;
	width: 10.583984375px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group282 {
	position: absolute;
	left: -400.8876953125px;
	top: 1272.06640625px;
	width: 40px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group282 .Rectangle16_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group282 ._5 {
	position: absolute;
	left: 21.1669921875px;
	top: 26px;
	width: 10.583984375px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group280 {
	position: absolute;
	left: -400.8876953125px;
	top: 1143.7998046875px;
	width: 40px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group280 .Rectangle16_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group280 ._3 {
	position: absolute;
	left: 21.9228515625px;
	top: 26px;
	width: 9.828125px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Rectangle18 {
	position: absolute;
	left: -93px;
	top: 951px;
	width: 120px;
	height: 65px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group391 {
	position: absolute;
	left: -345px;
	top: 951px;
	width: 270px;
	height: 65px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group391 .Rectangle17 {
	position: absolute;
	left: -17px;
	top: 0px;
	width: 270px;
	height: 65px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group391 .Nama {
	position: absolute;
	left: 80px;
	top: 22px;
	width: 101px;
	height: 17px;
	color : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Tanggal {
	position: absolute;
	left: -66px;
	top: 972px;
	width: 80px;
	height: 34px;
	color : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group285 {
	position: absolute;
	left: -93px;
	top: 1015.533203125px;
	width: 120px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group285 .Rectangle18_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}

.DashboardUKMB_DashboardUKMB .grup2 .Group288 {
	position: absolute;
	left: -93px;
	top: 1016px;
	width: 120px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group288 .Rectangle18_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group288 ._25032022_1 {
	position: absolute;
	left: 18.0146484375px;
	top: 19px;
	width: 107px;
	height: 26px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group299 {
	position: absolute;
	left: -93px;
	top: 1272.06640625px;
	width: 120px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group299 .Rectangle18_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group299 ._25032022_2 {
	position: absolute;
	left: 12.171875px;
	top: 18.93359375px;
	width: 119px;
	height: 26px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group298 {
	position: absolute;
	left: -93px;
	top: 1207.93359375px;
	width: 120px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group298 .Rectangle18_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group298 ._25032022_3 {
	position: absolute;
	left: 21.1708984375px;
	top: 18.06640625px;
	width: 100.8916015625px;
	height: 27.7333984375px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group297 {
	position: absolute;
	left: -93px;
	top: 1143.7998046875px;
	width: 120px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group297 .Rectangle18_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group297 ._25032022_4 {
	position: absolute;
	left: 15.171875px;
	top: 19.2001953125px;
	width: 114px;
	height: 26px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group296 {
	position: absolute;
	left: -93px;
	top: 1079.66650390625px;
	width: 120px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group296 .Rectangle18_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group296 ._25032022_5 {
	position: absolute;
	left: 15.171875px;
	top: 19.33349609375px;
	width: 113px;
	height: 26px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 {
	position: absolute;
	left: -362px;
	top: 1015.533203125px;
	width: 270px;
	height: 320.6669921875px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group283 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group283 .Rectangle18_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group283 .AdamDinNaufan {
	position: absolute;
	left: 72.2255859375px;
	top: 26px;
	width: 175.748046875px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 {
	position: absolute;
	left: 0px;
	top: 64.13330078125px;
	width: 270px;
	height: 256.53369-400625px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Rectangle18_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .ChandraWijaya {
	position: absolute;
	left: 88.275390625px;
	top: 26px;
	width: 144.4501953125px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 {
	position: absolute;
	left: 0px;
	top: 64.13330078125px;
	width: 270px;
	height: 192.400390625px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Rectangle18_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .BagasAdiFirdaus {
	position: absolute;
	left: 64.2001953125px;
	top: 26.86669921875px;
	width: 192.6005859375px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Group283_2 {
	position: absolute;
	left: 0px;
	top: 64.1337890625px;
	width: 270px;
	height: 128.2666015625px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Group283_2 .Rectangle18_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Group283_2 .MuhammadRafiqAbdillah {
	position: absolute;
	left: 41.17578125px;
	top: 26px;
	width: 238.6494-400625px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Group283_2 .Group283_3 {
	position: absolute;
	left: 0px;
	top: 64.13330078125px;
	width: 270px;
	height: 64.13330078125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Group283_2 .Group283_3 .Rectangle18_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 64.13330078125px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group357 .Group284 .Group283_1 .Group283_2 .Group283_3 .STMJMantap {
	position: absolute;
	left: 89.078125px;
	top: 26px;
	width: 142.845703125px;
	height: 13px;
	color : rgba(0,0,0,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 {
	position: absolute;
	left: -510px;
	top: 1357px;
	width: 350px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group309_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 350px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group309_1 .Group293_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 350px;
	height: 55px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group309_1 .Group293_2 .Rectangle13_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 435px;
	height: 55px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group309_1 .Group291_2 {
	position: absolute;
	left: 181.751953125px;
	top: 15.583984375px;
	width: 23.4423828125px;
	height: 23.833251953125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group309_1 .Group291_2 .akariconsedit_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 23.4423828125px;
	height: 23.833251953125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group351 {
	position: absolute;
	left: 148.6904296875px;
	top: 12.6923828125px;
	width: 224.236328125px;
	height: 29.333251953125px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group351 .ListPendaftar {
	position: absolute;
	left: 41.6904296875px;
	top: 6px;
	width: 182.5458984375px;
	height: 29.333251953125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group351 .bilistul_1 {
	position: absolute;
	left: 0px;
	top: 2.8203125px;
	width: 34.0751953125px;
	height: 25.666748046875px;
}
.DashboardUKMB_DashboardUKMB .grup2 .Group352 .Group351 .bilistul_1 .Vector_16 {
	position: absolute;
	left: 2.1298828125px;
	top: 4.010498046875px;
	width: 87.49892528587397%;
	height: 62.50011889927804%;
}
.DashboardUKMB_DashboardUKMB .TableContainer {
	position: absolute;
	left: -520px;
	top: 950px;
	width: 465px;
	height: 405px;
	/* background-color: rgba(34.00000177323818,73.00000324845314,87.00000241398811,1); */
	border-radius:3px;
	
} 

DashboardUKMB_DashboardUKMB .Group302 {
	position: absolute;
	left: 0px;
	top: 951px;
	width: 500px;
	height: 194.4443359375px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Rectangle20 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 525px;
	height: 194.4443359375px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	box-sizing: border-box;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 {
	position: absolute;
	left: 22px;
	top: 23px;
	width: 535px;
	height: 147.77783203125px;
}
.Group302 .Group390 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2013 {
	position: absolute;
	left: 237px;
	top: 10.6943359375px;
	width: 298px;
	height: 45.6943359375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .JuaraTaekwondo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 213px;
	height: 147.77783203125px;
	object-fit: cover;
	overflow: hidden;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .UnitTaekwondoUnpad {
	position: absolute;
	left: 237px;
	top: 96.25px;
	width: 276px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.DashboardUKMB_DashboardUKMB .Group302 .Group390 .Jumat25Maret2022 {
	position: absolute;
	left: 237px;
	top: 128.33349609375px;
	width: 260px;
	height: 13.611083984375px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}