
.EditProfileUKM_EditProfileUKM {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 1843px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.EditProfileUKM_EditProfileUKM .Vectors {
	position: absolute;
	right: 0px;
	top: 67px;
	width: 100px;
	height: 1636px;
	mix-blend-mode: normal;
}
.EditProfileUKM_EditProfileUKM .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1636px;
}
.EditProfileUKM_EditProfileUKM .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1636px;
}
.EditProfileUKM_EditProfileUKM .Vectors_1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 1623px;
	mix-blend-mode: normal;
}
.EditProfileUKM_EditProfileUKM .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1623px;
}
.EditProfileUKM_EditProfileUKM .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1623px;
}

.EditProfileUKM_EditProfileUKM .grup1 {
	position: absolute;
	left: 50%;
}

.EditProfileUKM_EditProfileUKM .grup1 .Rectangle21 {
	position: absolute;
	left: -450px;
	top: 267px;
	width: 900px;
	height: 1307px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.EditProfileUKM_EditProfileUKM .grup1 .EditProfileUKM_1 {
	position: absolute;
	left: -230px;
	top: 170px;
	width: 717px;
	height: 60px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 {
	position: absolute;
	left: -400px;
	top: 308px;
	width: 1035px;
	height: 537px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 {
	position: absolute;
	left: 0px;
	top: 480px;
	width: 380px;
	height: 55px;
	background-color: white;
	border-radius: 5px;
}

.EditProfileUKM_EditProfileUKM .Group382 .Group301 .uploadFile{
	position: absolute;
	top: 13px;
	left: 15px;
	width: 350px;

}

.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Rectangle19 {
	position: absolute;
	left: 17px;
	top: 0px;
	width: 350px;
	height: 55px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Group313 {
	position: absolute;
	left: 100px;
	top: 11px;
	width: 218px;
	height: 33px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Group313 .Group300 {
	position: absolute;
	left: 20px;
	top: 6.599609375px;
	width: 198px;
	height: 19.7998046875px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Group313 .Group300 .UploadGambar {
	position: absolute;
	left: 30px;
	top: 0px;
	width: 198px;
	height: 19.7998046875px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Group313 .bxupload {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 33px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Group313 .bxupload .Vector_4 {
	position: absolute;
	left: 20px;
	top: 5.5px;
	width: 10px;
	height: 10px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group301 .Group313 .bxupload .Vector_5 {
	position: absolute;
	left: 15px;
	top: 15.125px;
	width: 20px;
	height: 10px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 {
	position: absolute;
	left: 400px;
	top: 0px;
	width: 400px;
	height: 537px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 92px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314 .Rectangle1 {
	position: absolute;
	padding: 20px;
	left: 0px;
	top: 37px;
	width: 400px;
	height: 55px;
	background : rgba(255,255,255,1);
	border-radius: 12px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314 .UnitTaekwondoUnpadUTKD {
	position: absolute;
	left: 27px;
	top: 52px;
	width: 270px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314 .NamaUKM {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 30px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_1 {
	position: absolute;
	left: 0px;
	top: 110px;
	width: 400px;
	height: 92px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_1 .Rectangle1_1 {
	position: absolute;
	padding: 20px;
	left: 0px;
	top: 37px;
	width: 400px;
	height: 55px;
	background : rgba(255,255,255,1);
	border-radius: 12px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_1 .SelasaJumat1600WIB {
	position: absolute;
	left: 27px;
	top: 52px;
	width: 225px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_1 .JadwalKegiatan {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 178px;
	height: 30px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_2 {
	position: absolute;
	left: 0px;
	top: 220px;
	width: 400px;
	height: 92px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_2 .Rectangle1_2 {
	position: absolute;
	padding: 20px;
	left: 0px;
	top: 37px;
	width: 400px;
	height: 55px;
	background : rgba(255,255,255,1);
	border-radius: 12px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_2 ._70Anggota {
	position: absolute;
	left: 27px;
	top: 52px;
	width: 101px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_2 .JumlahAnggota {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 178px;
	height: 30px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_3 {
	position: absolute;
	left: 0px;
	top: 330px;
	width: 400px;
	height: 92px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_3 .Rectangle1_3 {
	position: absolute;
	padding: 20px;
	left: 0px;
	top: 37px;
	width: 400px;
	height: 55px;
	background : rgba(255,255,255,1);
	border-radius: 12px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_3 .KompleksUKMBaratJatinangor {
	position: absolute;
	left: 27px;
	top: 52px;
	width: 282px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group314_3 .AlamatUKM {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 30px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group309 {
	position: absolute;
	left: 0px;
	top: 440px;
	width: 400px;
	height: 97px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group309 .Group314_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 97px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group309 .Group314_4 .Rectangle1_4 {
	position: absolute;
	padding: 20px;
	left: 0px;
	top: 42px;
	width: 400px;
	height: 55px;
	background : rgba(255,255,255,1);
	border-radius: 12px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group309 .Group314_4 .TaekwondoUnpadgmailcom {
	position: absolute;
	left: 27px;
	top: 57px;
	width: 271px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group381 .Group309 .Group314_4 .Kontak {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 79px;
	height: 30px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group349 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 450px;
	height: 450px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group349 .Rectangle22 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 380px;
	height: 430px;
	background : rgba(255,255,255,1);
	border-radius: 5px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group382 .Group349 .Rectangle12 {
	position: absolute;
	left: 22px;
	top: 47px;
	width: 340px;
	height: 340px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 {
	position: absolute;
	left: -400px;
	top: 926px;
	width: 1035.2802734375px;
	height: 593.9990234375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 .Group314_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1035.2802734375px;
	height: 593.9990234375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 .Group314_5 .Rectangle1_5 {
	position: absolute;
	padding: 20px;
	left: 0px;
	top: 0px;
	width: 810px;
	height: 593.99658203125px;
	background : rgba(255,255,255,1);
	border-radius: 5px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 .Group314_5 .deskripsi {
	position: absolute;
	left: 38px;
	top: 46px;
	width: 750px;
	height: 502.08251953125px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 .Group314_5 .Group317 {
	position: absolute;
	left: 1023px;
	top: 580.208984375px;
	width: 12.2802734375px;
	height: 13.78955078125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 .Group314_5 .Group317 .Line2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11.7431640625px;
	height: 13.4921875px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group316 .Group314_5 .Group317 .Line3 {
	position: absolute;
	left: 4.7431640625px;
	top: 5.130859375px;
	width: 7.537109375px;
	height: 8.6591796875px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group383 {
	position: absolute;
	left: -400px;
	top: 876px;
	width: 184px;
	height: 30px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group383 .Group311 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 184px;
	height: 30px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group383 .Group311 .Group314_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 184px;
	height: 30px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group383 .Group311 .Group314_6 .Deskripsi {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 184px;
	height: 30px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 {
	position: absolute;
	left: 250px;
	top: 1606px;
	width: 200px;
	height: 50px;
	background-color:rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border:0px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 .Rectangle19_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 .Group320 {
	position: absolute;
	left: 17px;
	top: 10px;
	width: 165.02734375px;
	height: 30px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 .Group320 .Group300_1 {
	position: absolute;
	left: 38.2509765625px;
	top: 6.4765625px;
	width: 126.7763671875px;
	height: 17.85693359375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 .Group320 .Group300_1 .SaveProfile {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 126.7763671875px;
	height: 17.85693359375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 .Group320 .bxssave {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32.787109375px;
	height: 30px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group319 .Group320 .bxssave .Vector_6 {
	position: absolute;
	left: 4.0986328125px;
	top: 3.75px;
	width: 74.9985107523679%;
	height: 75%;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 {
	position: absolute;
	left: 20px;
	top: 1606px;
	width: 200px;
	height: 50px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group239 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group239 .Group294 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group239 .Group294 .Group293 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group239 .Group294 .Group293 .Rectangle13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group322 {
	position: absolute;
	left: 31px;
	top: 15.0732421875px;
	width: 138.294921875px;
	height: 17.296875px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group322 .Group321 {
	position: absolute;
	left: 38px;
	top: 2.92724609375px;
	width: 100.294921875px;
	height: 13.33349609375px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group322 .Group321 .Kembali {
	position: absolute;
	left: 20px;
	top: 0px;
	width: 100.294921875px;
	height: 13.33349609375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.EditProfileUKM_EditProfileUKM .grup1 .Group323 .Group384 .Group385 .Group322 .Vector_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20.246585789540582%;
	height: 100%;
}

