
.HomepageA_1_HomepageA {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 2900px;
	background : rgba(255,255,255,1);
	
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .Vectors {
	position: absolute;
	left: 0px;
	top: 633px;
	width: 100px;
	height: 2127px;
	mix-blend-mode: normal;
}
.HomepageA_1_HomepageA .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2127px;
}
.HomepageA_1_HomepageA .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2127px;
}
.HomepageA_1_HomepageA .Vectors_1 {
	position: absolute;
	right: 0px;
	top: 633px;
	width: 100px;
	height: 2127px;
	mix-blend-mode: normal;
}
.HomepageA_1_HomepageA .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2127px;
}
.HomepageA_1_HomepageA .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2127px;
}
.HomepageA_1_HomepageA .Group334 {
	position: absolute;
	left: 102px;
	top: 1886px;
	width: 1182.974365234375px;
	height: 444.16650390625px;
	
}
.HomepageA_1_HomepageA .Group334 .Group326 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 690px;
	height: 444.16650390625px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Rectangle23 {
	position: absolute;
	left: -10px;
	top: 0px;
	width: 350px;
	height: 444.16650390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Rectangle24 {
	position: absolute;
	left: 345px;
	top: 0px;
	width: 350px;
	height: 444.16650390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 {
	position: absolute;
	left: 370px;
	top: 27.63671875px;
	width: 308.318603515625px;
	height: 393.06396484375px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .JuaraTaekwondo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.318603515625px;
	height: 209.251953125px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022 {
	position: absolute;
	left: 0px;
	top: 231.95361328125px;
	width: 299.935302734375px;
	height: 79.3203125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .UnitTaekwondoUnpad {
	position: absolute;
	left: 0px;
	top: 343.48876953125px;
	width: 195.60986328125px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .Jumat25Maret2022 {
	position: absolute;
	left: 0px;
	top: 379.18310546875px;
	width: 178.843505859375px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 {
	position: absolute;
	left: 20px;
	top: 27.63671875px;
	width: 308.318603515625px;
	height: 393.06396484375px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .JuaraTaekwondo1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.318603515625px;
	height: 209.251953125px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_1 {
	position: absolute;
	left: 0px;
	top: 231.95361328125px;
	width: 299.935302734375px;
	height: 79.3203125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .UnitTaekwondoUnpad_1 {
	position: absolute;
	left: 0px;
	top: 343.48876953125px;
	width: 195.60986328125px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .Jumat25Maret2022_1 {
	position: absolute;
	left: 0px;
	top: 379.18310546875px;
	width: 178.843505859375px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}

/*ss*/
.HomepageA_1_HomepageA .Group334 .Group327 {
	position: absolute;
	left: 700px;
	top: 0px;
	width: 350px;
	height: 444.16650390625px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Rectangle25 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 350px;
	height: 444.16650390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 {
	position: absolute;
	left: 31.670166015625px;
	top: 27.63671875px;
	width: 308.318603515625px;
	height: 393.06396484375px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .JuaraTaekwondo1_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.318603515625px;
	height: 209.251953125px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_2 {
	position: absolute;
	left: 0px;
	top: 231.95361328125px;
	width: 299.935302734375px;
	height: 79.3203125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .UnitTaekwondoUnpad_2 {
	position: absolute;
	left: 0px;
	top: 343.48876953125px;
	width: 195.60986328125px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .Jumat25Maret2022_2 {
	position: absolute;
	left: 0px;
	top: 379.18310546875px;
	width: 178.84326171875px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .ukmunpad {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 1531px;
	width: 371px;
	height: 48px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}
.HomepageA_1_HomepageA .Line6 {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 1599px;
	width: 693.08740234375px;
	height: 0px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
	border: 3px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}

.HomepageA_1_HomepageA .beritaukm {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 2081px;
	width: 371px;
	height: 48px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}
.HomepageA_1_HomepageA .Line5 {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 2149px;
	width: 693.08740234375px;
	height: 0px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
	border: 3px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}

.HomepageA_1_HomepageA .BeritaPost2 {
	position: absolute;
	left: -620px;
	top: 300px;
}

.HomepageA_1_HomepageA .grup2{
	position: absolute;
	left: 50%;

}

.HomepageA_1_HomepageA .UKMPost2 {
	position: absolute;
	left: -620px;
	top: -250px;
}

.HomepageA_1_HomepageA .Line4 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 1009px;
	width: 693.08740234375px;
	height: 0px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
	border: 3px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}

/*ss*/
.HomepageA_1_HomepageA .BeritaSelengkapnya {
	position: absolute;
	left: 300px;
	top: 2650px;
	width: 250px;
	height: 95px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
.HomepageA_1_HomepageA .Arrow2 {
	position: absolute;
	left: 1269px;
	top: 1739px;
	width: 10px;
	height: 0px;
}
.HomepageA_1_HomepageA .UKMSelengkapnya {
	position: absolute;
	left: 300px;
	top: 2000px;
	width: 250px;
	height: 95px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

/*ss*/
.HomepageA_1_HomepageA .Group306 {
	position: absolute;
	left: 0px;
	top: 368px;
	width: 100%;
	height: 265px;
}
.HomepageA_1_HomepageA .Group306 .Rectangle8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 265px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.HomepageA_1_HomepageA .UKMsCare {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 32px;
	width: 557.1220703125px;
	height: 62.13427734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 64px;
	font-weight: 700;
	line-height: 64px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group386 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 680px;
	/* width: 1000px; */
	height: 246px;
}
.HomepageA_1_HomepageA .Group386 .Group355 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 0px;
	
	height: 246px;
}
.HomepageA_1_HomepageA .Group386 .Group355 .Rectangle14 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 0px;
	width: 1000px;
	height: 246px;
	border-radius: 15px;
}
.HomepageA_1_HomepageA .Group386 .Group355 .Rectangle28 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 6.753173828125px;
	width: 975px;
	height: 232.493896484375px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.009999999776482582);
	border-radius: 15px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .Group386 .text2 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 50px;
	width: 900px;
	height: 200px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group317 {
	position: absolute;
	left: 105px;
	top: 1546px;
	width: 414.9833984375px;
	height: 146.9267578125px;
}
.HomepageA_1_HomepageA .Group317 .Rectangle8_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group317 .Rectangle9 {
	position: absolute;
	left: 210.781982421875px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .taekwondoremovebgpreview11 {
	position: absolute;
	left: 146px;
	top: 1557px;
	width: 131px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Rectangle15 {
	position: absolute;
	left: 526px;
	top: 1546px;
	width: 204px;
	height: 147px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .bridgeremovebgpreview7 {
	position: absolute;
	left: 360px;
	top: 1557px;
	width: 118px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .palawa5 {
	position: absolute;
	left: 575px;
	top: 1557px;
	width: 111px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group388 {
	position: absolute;
	left: 736px;
	top: 1546px;
	width: 414.9833984375px;
	height: 146.9267578125px;
}
.HomepageA_1_HomepageA .Group388 .Rectangle8_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group388 .Rectangle9_1 {
	position: absolute;
	left: 210.781982421875px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .taekwondoremovebgpreview13 {
	position: absolute;
	left: 776px;
	top: 1557px;
	width: 131px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .bridgeremovebgpreview9 {
	position: absolute;
	left: 989px;
	top: 1557px;
	width: 118px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group335 {
	position: absolute;
	left: 0px;
	top: 1078.5556640625px;
	height: 421.4443359375px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 {
	position: absolute;
	left: -500px;
	top: 0px;
	width: 771.224365234375px;
	height: 421.4443359375px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Rectangle23_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 390px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Rectangle24_1 {
	position: absolute;
	left: 353px;
	top: 0px;
	width: 300px;
	height: 390px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group326_3 {
	position: absolute;
	left: 353px;
	top: 298.4443359375px;
	width: 297.40625px;
	height: 75.26220703125px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group326_3 .InformasiterbaruseputarUKMfavoritkamu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297.40625px;
	height: 75.26220703125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group325_2 {
	position: absolute;
	left: 3px;
	top: 298.44384765625px;
	width: 297.750732421875px;
	height: 76.63525390625px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group325_2 .LangsungdaftarkeUKMfavoritkamutanparibet {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297.750732421875px;
	height: 76.63525390625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 {
	position: absolute;
	left: 200px;
	top: 0px;
	width: 300px;
	height: 421.4443359375px;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 .Rectangle25_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 390px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 .Group325_3 {
	position: absolute;
	left: 3px;
	top: 300px;
	width: 297.40625px;
	height: 75.26220703125px;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 .Group325_3 .BeritaterkinitentangUKMfavoritkamudariaktivitaskegiatanhinggakehuaraan {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297.40625px;
	height: 75.26220703125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .UKMSCARE {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 972px;
	width: 398px;
	height: 48px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}

/*Sini*/
.HomepageA_1_HomepageA .grup1{
	position: absolute;
	left: 50%;
}

.HomepageA_1_HomepageA .grup1 .BeritaUKM_Home {
	position: absolute;
	left: -500px;
	top: 1080px;
	width: 315px;
	height: 114px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}
.HomepageA_1_HomepageA .grup1 .InformasiUKM {
	position: absolute;
	left: -150px;
	top: 1080px;
	width: 315px;
	height: 115px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}
.HomepageA_1_HomepageA .grup1 .PendaftaranOnline {
	position: absolute;
	left: 200px;
	top: 1080px;
	width: 315px;
	height: 114px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}

/*Sini*/


.HomepageA_1_HomepageA .Group {
	position: absolute;
	left: -400px;
	top: 1200px;
	width: 9.86111111111111%;
	height: 5.3968975360576925%;
}
.HomepageA_1_HomepageA .Group .Vector_4 {
	position: absolute;
	left: 58px;
	top: 0px;
	width: 80px;
	height: 80px;
}
.HomepageA_1_HomepageA .Group .Vector_5 {
	position: absolute;
	left: 0px;
	top: 16.50732421875px;
	width: 110px;
	height: 120px;
}
.HomepageA_1_HomepageA .etnewspaper {
	position: absolute;
	left: 280px;
	top: 1210px;
	width: 160px;
	height: 147px;
}
.HomepageA_1_HomepageA .etnewspaper .Group_1 {
	position: absolute;
	left: 0.201904296875px;
	top: 0px;
	width: 99.75006103515625%;
	height: 99.83425010629252%;
}
.HomepageA_1_HomepageA .etnewspaper .Group_1 .Vector_6 {
	position: absolute;
	left: 15.0361328125px;
	top: 0px;
	width: 83.54208669740348%;
	height: 90.77546022884178%;
}
.HomepageA_1_HomepageA .etnewspaper .Group_1 .Vector_7 {
	position: absolute;
	left: 0px;
	top: 0.24365234375px;
	width: 100%;
	height: 99.8343076354901%;
}
.HomepageA_1_HomepageA .tablerspeakerphone {
	position: absolute;
	left: -100px;
	top: 1163px;
	width: 219px;
	height: 226px;
}
.HomepageA_1_HomepageA .tablerspeakerphone .Group_2 {
	position: absolute;
	left: 27.375px;
	top: 37.86962890625px;
	width: 75%;
	height: 66.57693238384957%;
}
.HomepageA_1_HomepageA .tablerspeakerphone .Group_2 .Vector_8 {
	position: absolute;
	left: 36.5px;
	top: 37.4638671875px;
	width: 77.77777777777779%;
	height: 75.10108713288982%;
}
.HomepageA_1_HomepageA .tablerspeakerphone .Group_2 .Vector_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 83.33333333333334%;
	height: 87.34836930066527%;
}
.HomepageA_1_HomepageA .Line4 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 1040px;
	width: 693.08740234375px;
	height: 0px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
	border: 3px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	text-align: center;
}
.HomepageA_1_HomepageA .text1 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 500px;
	width: 900px;
	height: 256px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .Image {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100%;
	height: 288px;
	object-fit: cover;
	overflow: hidden;
}

.HomepageA_1_HomepageA .akariconscircletriangleupfill {
	position: absolute;
	left: 1226px;
	top: 1607px;
	width: 24px;
	height: 24px;
}


.HomepageA_1_HomepageA .BeritaUKM_Home{
	margin-top: 30px;
	text-align: center;
}

.HomepageA_1_HomepageA .InformasiUKM{
	margin-top: 30px;
	text-align: center;
}

.HomepageA_1_HomepageA .PendaftaranOnline{
	margin-top: 30px;
	text-align: center;
}

.HomepageA_1_HomepageA .UKMSelengkapnya{
	margin-top: 20px;
	margin-left: -50px;
}

.HomepageA_1_HomepageA .BeritaSelengkapnya{
	margin-top: 20px;
	margin-left: -60px;
}