
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 2143px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .ListPendaftarukm {
	position: absolute;
	left: 50%;
	transform:translate(-30%);
	top: 220px;
	width: 833px;
	height: 60px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group301 {
	position: absolute;
	left: 50%;
	transform:translate(200%);
	top: 320px;
	width: 166px;
	height: 36.39990234375px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group301 .Rectangle19 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 166px;
	height: 36.39990234375px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group301 .Group300 {
	position: absolute;
	left: 16.3232421875px;
	top: 5px;
	width: 100.006171875px;
	height: 26px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group301 .Group300 .EksporData {
	position: absolute;
	left: 34px;
	top: 6px;
	width: 105.2236328125px;
	height: 26px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group301 .Group300 .antdesigndownloadoutlined {
	position: absolute;
	left: 0px;
	top: 1.06640625px;
	width: 23.5849609375px;
	height: 24.2666015625px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group301 .Group300 .antdesigndownloadoutlined .Vector {
	position: absolute;
	left: 3.1787109375px;
	top: 3.79150390625px;
	width: 73.0445944267318%;
	height: 68.74924544247253%;
}

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .IdentitasWajib {
	position: absolute;
	left: 50%;
	transform:translate(-190%);
	top: 320px;
	width: 240px;
	height: 36px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Tambahan {
	position: absolute;
	left: 50%;
	transform:translate(-230%);
	top: 824.60498046875px;
	width: 200px;
	height: 36px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .File {
	position: absolute;
	left: 50%;
	transform:translate(-498%);
	top: 1367.60498046875px;
	width: 91px;
	height: 36px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Vectors {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 1923px;
	mix-blend-mode: normal;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Vectors .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1923px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Vectors .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1923px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Vectors_1 {
	position: absolute;
	right: 0px;
	top: 80px;
	width: 100px;
	height: 1923px;
	mix-blend-mode: normal;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Vectors_1 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1923px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Vectors_1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1923px;
}

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 {
	position: absolute;
	left: 50%;
	transform:translate(-55%);
	top: 1908px;
	width: 400px;
	height: 55px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group309 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 522px;
	height: 55px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group309 .Group293 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 522px;
	height: 55px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group309 .Group293 .Rectangle13 {
	position: absolute;
	left: 40px;
	top: 0px;
	width: 400px;
	height: 55px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group309 .Group291 {
	position: absolute;
	left: 181.751823125px;
	top: 15.583984375px;
	width: 23.4423828125px;
	height: 23.83349609375px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group309 .Group291 .akariconsedit {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 23.4423828125px;
	height: 23.83349609375px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group351 {
	position: absolute;
	left: 148.6904296875px;
	top: 12.6923828125px;
	width: 224.236328125px;
	height: 29.33349609375px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group351 .AturPendaftaran {
	position: absolute;
	left: 41.6904296875px;
	top: 5px;
	width: 182.5458984375px;
	height: 29.33349609375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group351 .bilistul {
	position: absolute;
	left: 0px;
	top: 2.8203125px;
	width: 34.0751823125px;
	height: 25.66650390625px;
}
.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .Group352 .Group351 .bilistul .Vector_6 {
	position: absolute;
	left: 2.1298828125px;
	top: 4.01025390625px;
	width: 87.49892528587397%;
	height: 62.499762199181966%;
}

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .TableContainer1 {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 380px;
	width: 990px;
	height: 470px;
	/* background-color: rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius:3px;
	border-color: black;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box; */
} 

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .TableContainer2 {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 880px;
	width: 990px;
	height: 470px;
	/* background-color: rgba(34.00000177323818,73.00000324845314,87.00000241398811,1); */
	/* border-radius:3px;
	border-color: black;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box; */
} 

.ListPendaftarUKMAdminUKM_ListPendaftarUKMAdminUKM .TableContainer3 {
	position: absolute;
	left: 50%;
	transform:translate(-50%);
	top: 1420px;
	width: 990px;
	height: 470px;
	/* background-color: rgba(34.00000177323818,73.00000324845314,87.00000241398811,1); */
	/* border-radius:3px;
	border-color: black;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box; */
} 