.SearchBerita {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	z-index: 50;
	background : rgba(255,255,255,1);
	box-sizing: border-box;
}
.SearchBerita .Group365 {
	position: absolute;
	left: 50%;
	transform: translateX(-45%);
	top: 265px;
	width: 1119px;
	height: 40.28564453125px;
}
.SearchBerita .Group365 .Frame359 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 165px;
	height: 40.28564453125px;
	display: flex;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	box-sizing: border-box;
	background : rgba(255,255,255,1);
	/* border-radius: 3px; */
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.SearchBerita .Group365 .Frame359 .Group358 {
	position: relative;
	margin-right: 25px;
	width: 20px;
	height: 14.857421875px;
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle31 {
	position: relative;
	left: 5px;
	top: 0px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle32 {
	position: absolute;
	left: 10px;
	top: 0px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle33 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle34 {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle35 {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle36 {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle37 {
	position: absolute;
	left: 5px;
	top: 10px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Group358 .Rectangle38 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 4px;
	height: 4px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.SearchBerita .Group365 .Frame359 .Kategori {
	position: relative;
	margin-right: 27px;
	width: 88px;
	height: 18.28564453125px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.SearchBerita .Group365 .Frame359 .Icon1 {
	position: relative;
	margin-right: 20px;
	margin-left: 10px;
	margin-top: 3px;
	width: 10px;
	height: 10px;
}
.SearchBerita .Group365 .Frame361 {
	position: absolute;
	left: 183px;
	top: 0px;
	width: 165px;
	height: 40px;
	display: flex;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	box-sizing: border-box;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 {
	position: relative;
	margin-right: 50px;
	width: 50px;
	height: 14.857421875px;
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle30_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle31_1 {
	position: absolute;
	left: 5px;
	top: 0px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle32_1 {
	position: absolute;
	left: 10px;
	top: 0px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle33_1 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle34_1 {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle35_1 {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle36_1 {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle37_1 {
	position: absolute;
	left: 5px;
	top: 10px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .Group358_1 .Rectangle38_1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 4px;
	height: 4px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.SearchBerita .Group365 .Frame361 .UKM {
	position: relative;
	margin-right: 38px;
	right: 20px;
	width: 46px;
	height: 18px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.SearchBerita .Group365 .Frame361 .Icon1 {
	position: relative;
	margin-right: 20px;
	margin-left: 0px;
	margin-top: 3px;
	width: 10px;
	height: 10px;
}

.SearchBerita .Group365 .Frame2 {
	position: absolute;
	left: 600px;
	top: 0px;
	width: 27.07774798927614%;
	height: 40px;
	display: flex;
	padding: 12px 40px;
	box-sizing: border-box;
	background : rgba(252.00000017881393,252.00000017881393,252.00000017881393,1);
	background-image: url('https://i.ibb.co/FmtGgf5/138px-Vector-search-icon-svg.png');
	background-position: 13px 12px;
  	background-repeat: no-repeat;
	background-size: 15px;
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
}
.SearchBerita .Group365 .Frame2 .evasearchoutline {
	position: relative;
	margin-right: 12px;
	width: 4.993924685437294%;
	height: 42.857666015625%;
}
.SearchBerita .Group365 .Frame2 .evasearchoutline .Vector_4 {
	position: absolute;
	left: 1.8914794921875px;
	top: 2.14306640625px;
	width: 75.02379838332338%;
	height: 75.0234982483124%;
}
.SearchBerita .Group365 .Frame2 .Search {
	position: relative;
	margin-right: 12px;
	width: 37.22769859993812%;
	height: 45%;
	color : rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.40625px;
}
.SearchBerita .Group365 .Frame360 {
	position: absolute;
	left: 902px;
	top: 0px;
	width: 92px;
	height: 40px;
	display: flex;
	padding-top: 6px;
	padding-left: 21px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
	font-weight: bold;
	font-family: Oxygen;
	text-decoration-color: black;
}

.searchText {
	color: black;
}