.SigninUser_SigninUser {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	background : rgba(255,255,255,1);
}

.SigninUser_SigninUser .Group220 .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 650px;
	height: 600px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}

.SigninUser_SigninUser .Group220 .Vectors {
	position: absolute;
	left: 0px;
	top: 520px;
	width: 50%;
	height: 80px;
}
.SigninUser_SigninUser .Group220 .Vectors .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 650px;
	height: 80px;
}
.SigninUser_SigninUser .Group220 .Vectors .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 650px;
	height: 80px;
}

.SigninUser_SigninUser .Vectors_1 {
	position: absolute;
	left: 0px;
	top: -2.1448974609375px;
	width: 50%;
	height: 80px;
}
.SigninUser_SigninUser .Vectors_1 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 650px;
	height: 80px;
}
.SigninUser_SigninUser .Vectors_1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 650px;
	height: 80px;
}

.SigninUser_SigninUser .Group220 .Text1 {
	position: absolute;
	left: 700px;
	top: 170px;
	width: 498.548828125px;
	height: 60px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.125px;
	text-align: center;
}

.SigninUser_SigninUser .SectionForgot {
	position: absolute;
	left: 1177.5185546875px;
	top: 420px;
	width: 100px;
	height: 20.451171875px;
}
.SigninUser_SigninUser .SectionForgot .Forgotpassword {
	position: absolute;
	left: -160px;
	top: 0px;
	width: 150.13232421875px;
	height: 20.451171875px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .SectionForgot .Rememberme {
	position: absolute;
	left: -390px;
	top: 0px;
	width: 126.67431640625px;
	height: 20.451171875px;
	color : rgba(9.000000413507223,53.00000064074993,69.00000348687172,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .SectionForgot .Rectangle1 {
	position: absolute;
	left: -420px;
	top: 0px;
	width: 21.1123046875px;
	height: 20.451171875px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.SigninUser_SigninUser .Loginbtn {
	position: absolute;
	left: 750px;
	top: 430px;
	width: 400px;
	height: 54.13525390625px;
	box-shadow: 100px;
	border: 0px;
}
.SigninUser_SigninUser .Loginbtn .Rectangle {
	position: absolute;
	left: 125px;
	top: 0px;
	width: 400px;
	height: 54.13525390625px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
	border-color: azure;
} 

.SigninUser_SigninUser .Loginbtn .login {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/* top: 15.63916015625px; */
	width: 51.608154296875px;
	height: 24.06005859375px;
	color : rgba(255,255,255,1);
	font-family: Lexend Deca;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	font-weight: bolder;
	text-align: center;
}
.SigninUser_SigninUser .Password {
	position: absolute;
	left: 750px;
	top: 350px;
	width: 351.873291015625px;
	height: 54.13525390625px;
}

.SigninUser_SigninUser .Username {
	position: absolute;
	left: 750px;
	top: 280px;
	width: 351.873291015625px;
	height: 54.13525390625px;
}

.SigninUser_SigninUser .Signin {
	position: absolute;
	left: 810px;
	top: 30px;
	width: 271px;
	height: 111px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 80px;
	font-weight: 400;
	line-height: 84.375px;
	text-align: center;
	font-weight: bold;
}
.SigninUser_SigninUser .Belumpunyaakun {
	position: absolute;
	left: 830px;
	top: 500px;
	width: 150px;
	height: 20px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .Signup {
	position: absolute;
	left: 980px;
	top: 500px;
	width: 91px;
	height: 20px;
	color : rgba(0,180.00000447034836,215.0000023841858,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}

.SigninUser_SigninUser .Input_Form {
	position: absolute;
	padding: 12px 20px;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 54.13525390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	color: azure;
	font-size: 18px;
	font-family: Oxygen;
	
}
.Input_Form::-webkit-input-placeholder{
	color: rgb(196, 207, 207);
}



.SigninUser_SigninUser .Group229 {
	position: absolute;
	left: 183px;
	top: 130px;
	width: 550px;
	height: 451px;
}
.SigninUser_SigninUser .Group229 .PlatformUKMUnpad {
	position: absolute;
	left: -75px;
	top: 300px;
	width: 550px;
	height: 65px;
	color : rgba(0,180.00000447034836,215.0000023841858,1);
	font-family: Lexend Deca;
	font-size: 42px;
	font-weight: 400;
	line-height: 56.25px;
}
.SigninUser_SigninUser .Group229 .logo {
	position: absolute;
	left: -80px;
	top: -30px;
	width: 400px;
	height: 300px;
	object-fit: cover;
	overflow: hidden;
}